.chosen-size-item-MiniCart {
    background:black;
    color: white;
}

.chosen-color-item-container-MiniCart {
    border: 2px solid #5ECE7B;
}

.chosen-color-item-MiniCart {
    height: 16px;
}