.out-of-stock-PLP {
    position: absolute;
    top: 45%;
    left: 30%;
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0px;
    color: black;
    opacity: 0;
}

.active-out-of-stock-PLP {
    position: absolute;
    top:45%;
    left: 30%;
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0px;
    color: black;
    opacity: 1;
}

.container-opacity-PLP {
    opacity: 0.5;
}